[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
requires-python = ">={{ python_version }}"
dependencies = [
    "pydantic-settings>=2.12.0",
]

[dependency-groups]
dev = [
    "ipykernel>=6.31.0",
    {%- if add_type_checking and type_checker == "mypy" %}
    "mypy>=1.19.1",
    {%- endif %}
    {%- if add_pre_commit %}
    "pre-commit>=4.5.1",
    {%- endif %}
    "pytest>=9.0.2",
    "pytest-env>=1.2.0",
    "ruff>=0.14.10",
    {%- if add_type_checking and type_checker == "ty" %}
    "ty>=0.0.15",
    {%- endif %}
]
{%- if add_docs %}
docs = [
    "ipykernel<7.0.0",
    "mkdocs>=1.6.1",
    "mkdocs-gen-files>=0.6.0",
    "mkdocs-jupyter>=0.25.0",
    "mkdocs-literate-nav>=0.6.2",
    "mkdocs-material>=9.7.1",
    "mkdocstrings[python]>=1.0.3",
]
{%- endif %}

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[project.scripts]
# command-name = "package.module:function"
start-app = "{{ project_slug }}.main:main"

[tool.ruff]
line-length = 79
indent-width = 4
include = ["**.py", "*.ipynb"]

[tool.ruff.lint]
select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # Pyflakes
    "I",   # isort
    "B",   # flake8-bugbear
    "PTH", # flake8-use-pathlib
    "ANN", # flake8-annotations
    "ARG", # flake8-unused-arguments
    {%- if add_docs %}
    "D101", # Missing docstring in public class
    "D102", # Missing docstring in public method
    "D103", # Missing docstring in public function
    "D417", # Missing argument descriptions in the docstring
    {%- endif %}
]

[tool.ruff.lint.per-file-ignores]
"tests/**.py" = ["ANN", "ARG"]

{% if add_type_checking and type_checker == "mypy" -%}
[tool.mypy]
plugins = ["pydantic.mypy"]
files = ["src"]
exclude = ["tests/"]
python_version = "{{ python_version }}"
check_untyped_defs = true
ignore_missing_imports = true
no_implicit_optional = true
# Note : Ruff already enforce type hinting

{% endif -%}
{% if add_type_checking and type_checker == "ty" -%}
[tool.ty.environment]
python-version = "{{ python_version }}"

[tool.ty.src]
include = ["src"]

{% endif -%}
[tool.pytest.ini_options]
addopts = "-v"
testpaths = ["tests"]
env = [
    "ENVIRONMENT=test",
    "LOG_LEVEL=INFO",
]