# {{ project_name }}

{{ description }}

## 🛠️ Setup

### 0. Install UV

If not already, install astral uv.

On Linux :

```bash
curl -LsSf https://astral.sh/uv/install.sh | sh
```

On Windows :

```bash
powershell -ExecutionPolicy ByPass -c "irm https://astral.sh/uv/install.ps1 | iex"
```

More info on [official website](https://docs.astral.sh/uv/getting-started/installation/#__tabbed_1_1).

### 1. Install project and dependencies

Install dependencies and build project :

```bash
uv sync
```

## Start app

Run main.py entrypoint with the command:

```bash
uv run start-app
```

## Environment variables

Please define and import all environment variables in your code from [settings.py](./src/{{ project_slug }}/core/settings.py) file like so: 

```python
class Settings(BaseSettings):
    """Load environment variables as settings."""
    
    MY_ENV_VARIABLE_1: str
    MY_ENV_VARIABLE_2: int = 5
```

During local development, use the .env file to set environment variables.