name: CI

on:
  push:

jobs:
  test:
    name: Run Tests & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install {{ python_version }}

      - name: Install dependencies
        run: uv sync --frozen

      - name: Linting (Ruff)
        run: uv run ruff check src tests
      
      {% if add_type_checking -%}
      - name: Type Checking ({{ "Mypy" if type_checker == "mypy" else "Astral Ty" }})
        run: uv run {{ "mypy" if type_checker == "mypy" else "ty check" }}

      {% endif -%}
      - name: Testing (Pytest)
        run: uv run pytest