from {{ project_slug }}.core.config import settings


class HelloWorld:
    @staticmethod
    def print_hello_world() -> None:
        print(
            "Hello world (project : {{ project_name }},"
            f" env : {settings.ENVIRONMENT})"
        )
